

$text-font: "Spectral";
$title-font: "Play";


$background-color : #ffffff;
$text-color : #141317;
$border-color : #ddd7d4;
$accent-color : #1f473c;

$font-size-xxl: 3rem;
$font-size-xl: 2.5rem;
$font-size-l: 2rem;
$font-size-m: 1.5rem;
$font-size-s: 1.25rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.75rem;
