*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ? Couleurs */

:root {
    --blue: #36C8F6;
    --yellow: #F5CB5C;
    --lightblue: #afddec;
    --purple: #9381FF;
}



/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}

/* !Version Desktop */
@media screen and (min-width: 1000px) and (max-width: 1990px) {
    

body{
    width: 100%;
    height: 100vh;
    background-color: var(--lightblue);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

header{
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    width: 100%;
    height: 9vh;
    padding: 5px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: relative;
    }
} 

.burger-container {
    display: none; 
} 


.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 100%;
}

#burger-toggle:checked ~ .nav {
    display:none;
}

.burger-line {
    display: none;
} 


nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav li{
    font-family: Spectral;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 20px;
    padding: 10px;
    list-style-type: none;
}

nav a{
    width: 100%;
    height: 30px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
}

nav a:hover{
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.50, 1, 0.50, 2);
    text-decoration: underline;

}

iframe{
    position: relative;
    justify-content: center;
    align-items: center;
    left: 20%;
    margin-top: 4%;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 60%;
}


#map{
    background-color: rgba( 255, 255, 255, 0.5);
    width: 50%;
    margin-left: 25%;
}


#parking{
    width: 24px;
    height: 24px;
    margin-right: 1%;
    border-radius: 0;
}

#local{
    width: 24px;
    height: 24px;
    border-radius: 0;
}

#handicap{
    width: 24px;
    height: 24px;
    border-radius: 0;
}


#local:hover, #parking:hover, #handicap:hover {
    scale: 2;
}

#mobile_column{
    position: relative;
    left: 25%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    height: 15vh;
}


.face-to-face{

    position: relative;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border:#FFFFFF 5px solid;
    border-radius: 10px;
    background-color: rgba( 255, 255, 255, 0.5);
}

#parking_desktop{
    height: 140px;
}

#handicap_desktop{
    height: 140px;
}

.blanco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    gap: 30px;
}

h2{
    margin-top: 5%;
    margin-left: 40%;
    font-family: Play;
}

#Contact_title{
    margin-left: 46%;
}


p{
    font-family: Spectral;
    font-size: 1.2rem;
}

form{
    width: 650px;
    height: 650px;
    background-color: rgba( 255, 255, 255, 0.5);
    border: #000000 2px solid;
    border-radius: 20px;
    margin-left: 35%;
    margin-bottom: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    input{
        border-radius: 5px;
        border: none;
        width: 90%;
        height: 25vh;
        margin-top: 5%;
    }

    textarea{
        height: 60vh;
        border: 1px solid rgb(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 5%;
        width: 90%;
    }

    #sub{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        border:1px solid black;
        margin-bottom: 4%;
        font-family: Spectral;
        font-weight: bold;
        margin-top: 5%;
    }
}



/* ! Footer */

.mirror{
    display: flex;
    flex-direction: row;
}


    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}


    .liens_footer{
        width: 100%;
        font-family: Play;
        font-size: 1rem;
}


    footer{
        position: sticky;
        font-size: 12px;
        background-color:#36C8F6 ;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;

        img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 1%;
        }
    }
    


    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{

        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        font-family: Play;
        font-size: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        color: black;

        #mail, #tel{
            text-decoration: underline;
        }

        #tel{
            width: 120px;
        }

        #mail{
            width: 180px;
        }
        #email{
            border-radius: 0%;
        }
}

}
/* ! Fin Version Desktop */


/* ! Version Mobile */

@media screen and (min-width: 350px) and (max-width: 900px){

body{
    width: 100%;
    height: 100vh;
    background-color: #afddec;
    
}

/* ! Header */


header{
    display: flex;
    flex-direction: row;
    background-color: #36C8F6;
    width: 100%;
    padding: 3px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);



    img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
} 

.burger-container {
    cursor: pointer;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 70%;
    margin-top: 5%;   
}


.nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #36C8F6;
    z-index: 1;
}

#burger-toggle:checked ~ .nav {
    display: block;
}

.burger-line {
    height: 4px;
    background: #000000;
    border-radius: 2px;
}


nav ul{
    width: 30px;
    display: flex;
    flex-direction: column;
}

nav li{
    position: relative;
    display: flex;
    padding: 5px;
    flex-direction: column;
    list-style-type: none;
}

nav a{
    position: relative;
    right: 0;
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
}

nav a:hover{
    color: #36C8F6;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-decoration: underline;
}

    /* ! Fin du HEADER */



main{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

#map{
    background-color: rgba( 255, 255, 255, 0.5);
}

iframe{
    position: static;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}


#mail, #phone{
    width: 20px;
    height: 20px;
    margin-right: 4%;
    border-radius: 0;
}

#parking{
    width: 20px;
    height: 20px;
    margin-right: 1%;
    border-radius: 0;
}


#local{
    width: 20px;
    height: 20px;
    border-radius: 0;
}
#handicap{
    width: 20px;
    height: 20px;
    border-radius: 0;
}

.face-to-face{
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    border:#FFFFFF 5px solid;
    border-radius: 10px;
    /* background-color: rgba( 255, 255, 255, 0.5); */
}


#parking_desktop{
    margin-top: 3%;
}

h1{
    margin-left: 40%;
}

h2{
    margin-top: 15%;
    margin-left: 25%;
    font-family: Play;
}

p{
    font-family: Spectral;
    font-size: 11px;
}

form{
    width: 300px;
    height: 420px;
    background-color: rgba( 255, 255, 255, 0.5);
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    input{
        border-radius: 5px;
        border: none;
        width: 90%;
        height: 10vh;
        margin-top: 5%;

    }

    textarea{
        border: 1px solid rgb(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 5%;
        width: 90%;
    }

    #sub{
        width: 100px;
        height: 30px;
        border-radius: 15px;
        border:1px solid black;
        margin-bottom: 4%;
        font-family: Spectral;
        font-weight: bold;
        margin-top: 5%;
    }
}



/* ! Footer */
/* TODO changer les fonts */

    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}


    .liens_footer{
        width: 50%;
        font-family: Play;
}


    footer{
        position: sticky;
        font-size: 12px;
        background-color:#36C8F6 ;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;

        img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 4%;
        }
    }
    
.face-to-face{
    display: flex;
    flex-direction: row;
}

.mirror{
    display: flex;
    flex-direction: row;
}
    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        font-family: Play;
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        color: black;

        #mail, #tel{
            text-decoration: underline;
            
        }

        #email{
            border-radius: 0%;
        }

}

}

