*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ? Couleurs */

:root {
    --blue: #2DBBD4;
    --yellow: #F5CB5C;
    --lightblue: #BAE0E0;
    --bluelighter: #afddec;
    --purple: #9381FF;
}


/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}


@media screen and (min-width: 350px) and (max-width: 900px) {
    body{
        width: 100%;
        height: 100vh;
    }

/* ! Header */


header{
    display: flex;
    flex-direction: row;
    background-color: #2DBBD4;
    width: 100%;
    padding: 3px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);



    img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
} 

.burger-container {
    cursor: pointer;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 70%;
    margin-top: 5%; 
}


.nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #2DBBD4;
    z-index: 1;
}

#burger-toggle:checked ~ .nav {
    display: block;
}

.burger-line {
    height: 4px;
    background: #000000;
    border-radius: 2px;
}


nav ul{
    width: 30px;
    display: flex;
    flex-direction: column;
}

nav li{
    position: relative;
    display: flex;
    padding: 5px;
    flex-direction: column;
    list-style-type: none;
}

nav a{
    position: relative;
    right: 0;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
}

nav a:hover{
    color: white;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-decoration: underline;
}
    
}

/* ! Fin Version Mobile */

/* ! Version desktop */
@media screen and (min-width: 1000px) and (max-width: 1990px) {
    
    body{
        width: 100%;
        height: 100vh;
    }

/* ! Header */


header{
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    width: 100%;
    height: 9vh;
    padding: 5px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
} 

.burger-container {
    display: none; 
} 


.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 100%;
}

#burger-toggle:checked ~ .nav {
    display:none;
}

.burger-line {
    display: none;
} 


nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav li{
    font-family: Spectral;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 20px;
    padding: 10px;
    list-style-type: none;
}

nav a{
    width: 100%;
    height: 30px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
}

nav a:hover{
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.50, 1, 0.50, 2);
    text-decoration: underline;

}


/* ! MAIN */

h1, h2{
font-family: Play;

}

h1{
    margin-top: 5%;
    margin-left: 40%;
}


h2{
    margin-bottom: 4%;
    margin-top: 2%;
}

img{
    width: 500px;
    height: 400px;
    border-radius: 15px;
}


#titre{
    margin-left: 20%;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 20%;
    background-color: var(--bluelighter);
    border-radius: 10px;
    box-shadow: 2px 5px 5px 2px;

    
}

button{
        width: 150px;
        height: 40px;
        border-radius: 10px;
        box-shadow: rgba(5, 5, 5, 0.5);
        margin-top: 10%;
        margin-bottom: 10%;
    }


.purple{
    background-color: var(--purple);
}

.yellow{
    background-color: var(--yellow);
}

.black{
    background-color: #000000;
    color: #FFFFFF;
}

.white{
    background-color: #FFFFFF;
}

#backgroundColor3{
    margin-bottom: 20%;
    background-color: #000000;
}


dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    border: 2px solid yellow;
}








/* ! Footer */
/* TODO changer les fonts */

    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}


    .liens_footer{
        width: 50%;
        font-family: Play;
}


    footer{
        position: sticky;
        font-size: 12px;
        background-color:#2DBBD4 ;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;

        img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 4%;
        }
    }
    
.face-to-face{
    display: flex;
    flex-direction: row;
}


    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        font-family: Play;
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        color: black;

        #mail, #tel{
            text-decoration: underline;
            
        }
}
}