*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}
