*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* ? Couleurs */

:root {
    --blue: #36C8F6;
    --yellow: #F5CB5C;
    --lightblue: #afddec;
    --purple: #9381FF;
}

/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}


/* ! Version Mobile */


@media screen and (min-width: 360px) and (max-width: 990px) {
    body{
        width: 100%;
        height: 100vh;
    }


    /* Button switch */
    button{
        width: 100px;
        height: 30px;
        background-color: #afddec;
        border-radius: 20px;
        border: 1px solid #000000;
        box-shadow: 2px 4px 2px;
        color: #000000;

    }

    #public{
    background-color:  #36C8F6;
}

#mail_form1{
        margin-top: 5%;
        width: 24px;
        height: 24px;
        border-radius: none;

        input{
            background-color: transparent;
        }
}

#formulaire1{
    background-color: #F5CB5C;
}

#formulaire{
    width: 200px;
    height: 340px;
    background-color: #afddec;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


#sub2{
    background-color: var(--yellow);
    margin-bottom: 5%;
    font-family: Spectral;
    margin-top: 18%;
}

#mail_form1, #identity, #img_password{
    width: 30px;
    height: 30px;
    margin-top: 5%;
}

.face-to-face{
    display: flex;
    gap: 5%;
}

    input{
        width: 100%;
        border-radius: 5px;
        height: 30px;
        /* background-color: transparent; */
        margin-top: 5%;
        color: #000000;
        border: 2px solid black;
    }
}

#inscription{
    margin-bottom: 15%;
}

#lien{
    list-style: none;
}

}



/* ! Version Desktop */

@media  screen and (min-width: 999px) and (max-width: 1990px) {

#inscription
{
    color: #000000;
}

#Forms{
    margin-top: 5%;
    display: flex;
    flex-direction: row ;
    gap: 30%;

    img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
}

    button{
        cursor: pointer;
        font-family: Spectral;
        font-size: 1.2rem;
        width: 100px;
        height: 20px;
        background-color: var(--bluelighter);
        border-radius: 20px;
        border: 1px solid #000000;
        box-shadow: 2px 4px 2px;
        color: #000000;
    }

    #public{
    background-color:  #36C8F6;
}

button:active{
    color: #ffffff;
}

#formulaire{
    background-color: #F5CB5C;
    margin-left: 35%;
    width: 550px;
    height: 520px;
    border-radius: 20px;
    margin-bottom: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


/* Bouton VALIDER */

#sub2{
    background-color: #F5CB5C;
    margin-bottom: 10%;
    font-family: Spectral;
    margin-top: 15%;
}


#img_password, #mail_form1, #name{
    position: relative;
    top: 50%;
    width: 45px;
    height: 45px;
    margin-top: 5%;
    margin-right: 3%;
}


.face-to-face{
    display: flex;
    gap: 5%;
}

    input{
        position: relative;
        top: 50%;
        width: 300px;
        border-radius: 5px;
        background-color: transparent;
        margin-top: 8%;
        color: #000000;
        border: 2px solid black;
    }

}

/* lien sur le formulaire de connexion pour : redirection vers inscription.php */
#lien2{
    color: #000000;
    font-size: 1.7rem;
    font-family: Spectral;
    list-style: none;
    
    
}
#lien_retour:hover{
        text-decoration: underline;
    }
}

