*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ? Couleurs */

:root {
    --blue: #2DBBD4;
    --yellow: #F5CB5C;
    --lightblue: #BAE0E0;
    --purple: #9381FF;
}



/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}

@media screen and (min-width: 360px) and (max-width: 990px) {
    body{
        width: 100%;
        height: 100vh;
        background-color: #9381FF;
    }


    /* Button switch */
    button{
        width: 100px;
        height: 20px;
        background-color: #BAE0E0;
        border-radius: 20px;
        border: 1px solid #000000;
        box-shadow: 2px 4px 2px;
        color: #000000;
    }

form{
    width: 300px;
    height: 420px;
    background-color: rgba( 255, 255, 255, 0.5);
    border-radius: 20px;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

.compte{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    margin-top: -25%;
    margin-bottom: 20%;
    /* border: 2px solid yellow; */
}


#sub{
        /* border:1px solid #2DBBD4; */
        margin-bottom: -14%;
        font-family: Spectral;
        margin-top: 15%;
        /* font-weight: bold; */
}


#password, #identity{
    width: 24px;
    height: 24px;
    margin-top: 5%;
}



.face-to-face{
    display: flex;
    gap: 5%;
}


    input{
        width: 100%;
        border-radius: 5px;
        background-color: transparent;
        margin-top: 5%;
        color: #000000;
        border: 2px solid black;
    }

}


/* ! Footer */
/* TODO changer les fonts */

    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}

.face-to-face{
    display: flex;
}

    .liens_footer{
        width: 50%;
        font-family: Play;
}


    footer{
        position: sticky;
        font-size: 12px;
        background-color:#2DBBD4 ;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;
    }
    

    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

#mail{
    width: 20px;
    height: 20px;
    margin-right: 4%;
    border-radius: 0;
}

#phone{
    width: 20px;
    height: 20px;
    margin-right: 4%;
    border-radius: 0;
}



    .copyright{
        font-family: Play;
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        color: black;

        #mail, #tel{
            text-decoration: underline;
        }
}


}