*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ? Couleurs */

:root {
    --blue: #2DBBD4;
    --yellow: #F5CB5C;
    --lightblue: #afddec;
    --purple: #9381FF;
}


/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}

@media screen and (min-width: 360px) and (max-width: 990px) {
    body{
        width: 100%;
        height: 100vh;

    }


/* ! Header */


header{
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    width: 100%;
    padding: 3px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
} 

.burger-container {
    cursor: pointer;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 70%;
    margin-top: 5%; 
}


.nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: var(--blue);
    z-index: 1;
}

#burger-toggle:checked ~ .nav {
    display: block;
}

.burger-line {
    height: 4px;
    background: #000000;
    border-radius: 2px;
}


nav ul{
    width: 30px;
    display: flex;
    flex-direction: column;
}

nav li{
    position: relative;
    display: flex;
    padding: 5px;
    flex-direction: column;
    list-style-type: none;
}

nav a{
    position: relative;
    right: 0;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: large;
    display: inline-block;
}

nav a:hover{
    color: white;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-decoration: underline;
}

/* ! Main */

    #plateforme_icons{
        background-color: var(--lightblue);
        width: 100%;
        height: 4vh;
        padding: 3px;

        img{
            width: 24px;
            height: 24px;
            position: relative;
            float: inline-end;
            margin-right: 15px;
            right: 0;
        }

        .list{
            width: 100%;
            height: 15vh;
            border: 2px solid red;
        }
    }

#plateforme_liste{
    border: 2px solid yellow;
    width: 70%;
    height: 40vh;
}

h2{
    font-family: Spectral;
    color: red;
    font-size: 1.0rem;
    width: 100%;
}

#Administratif
{
    background-color: #afddec;

}
#plateforme_pdf{
    display: flex;
    flex-direction: row;
    border: 2px solid green ;
    width: 100%;
    justify-content: space-evenly;

    p{
        font-family: Spectral;
        font-size: 1rem;
    }

#import{
    margin-left: 40px;
}

#export{
    margin-left: 45px;
}

}

/* ! Footer */

    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}

    .liens_footer{
        width: 50%;
        font-family: Play;
}

    footer{
        position: sticky;
        font-size: 12px;
        background-color:var(--blue) ;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;
    }
    
    #mail, #tel{
            margin-right: 4%;
            text-decoration: underline;
            font-size: 0.8rem;
        }

.face-to-face{
    display: flex;
    flex-direction: row;
}


    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        color: black;

        #email{
            border-radius: 0%;
        }

        img{
            width: 25px;
            height: 25px;
        }
}













}