*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "tailwindcss";
tailwind base
tailwind components
tailwind utilities

/* ? Couleurs */

:root {
    --blue: #36C8F6;
    --yellow: #F5CB5C;
    --lightblue: #afddec;
    --purple: #9381FF;
}


/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}

@media screen and (min-width: 360px) and (max-width: 990px) {
    body{
        width: 100%;
        height: 100vh;
    }


/* ! Header */


header{
    display: flex;
    flex-direction: row;
    background-color:#36C8F6;
    width: 100%;
    padding: 3px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
} 

.burger-container {
    cursor: pointer;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 70%;
    margin-top: 5%; 
}


.nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #2DBBD4;
    z-index: 1;
}

#burger-toggle:checked ~ .nav {
    display: block;
}

.burger-line {
    height: 4px;
    background: #000000;
    border-radius: 2px;
}


nav ul{
    width: 30px;
    display: flex;
    flex-direction: column;
}

nav li{
    position: relative;
    display: flex;
    padding: 5px;
    flex-direction: column;
    list-style-type: none;
}

nav a{
    position: relative;
    right: 0;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: large;
    display: inline-block;
}

nav a:hover{
    color: white;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-decoration: underline;
}

/* ! Main */

/* ? UTILISATION D'UN CDN */

#calendar{
    width: 90%;
    height: 50vh;
    margin-left: 5%;
    margin-top: 20%;
    margin-bottom: 5%;
    /* transition: background-color 200ms color 200ms; */
}
#addEventBtn{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5%;
    background-color: #36C8F6;
    position: relative;
    left: 5%;
    margin-bottom: 10%;
}



/* Changer la couleur de fond des jours */
.fc-daygrid-day {
    background: #36C8F6;
    color: #000;
}

/* Changer la couleur du header */
.fc-toolbar-title {
    color: #36C8F6;
    font-size: 1.5em;
    font-weight: bold;
}

/* Changer la couleur des événements */
.fc-event {
    background-color: #9381FF !important;
    color: #fff !important;
    border: none !important;
    border-radius: 8px;
}

/* Changer la couleur du jour actuel */
.fc-day-today {
    background: #fff ;
}

/* Changer la couleur des boutons */
.fc-button {
    background: #36C8F6 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px;
}


/* #button_class{
    display: flex;
    flex-direction: row;
    gap: 60px;
} */

/* #app-calendar{  
    padding-top: 5px;
    border-top: 1px solid rgb(233, 233, 233);
    text-align: center;
    cursor: pointer;

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    grid-template-rows: repeat(5, 1fr);
    background-color: #36C8F6;
    height: 100%;
    width: 100%;
} */


/* .name{
    padding-bottom: 5px;
    margin-bottom: 3%;
    font-weight: bold;
}

.day{
    background: #36C8F6;
    margin: 4px;
    border-radius: 4px;
    padding: 6px 0;
    color: #000000;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekend{
    color : #afddec;
}

.selected{
    background-color: #000000;
    color: white;
}


.button_mini_header{
    border: none;
    width: 40x;
    height: 40px;
    border-radius: 10px;
}

.buttons{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
} */

#chiffres{
    width: 100%;
    height: 45vh;
}

    #plateforme_icons{
        width: 100%;
        height: 4vh;
        padding: 3px;

        img{
            width: 24px;
            height: 24px;
            position: relative;
            float: inline-end;
            margin-right: 15px;
            right: 0;
        }

        .list{
            width: 100%;
            height: 15vh;
            border: 2px solid red;
        }
    }

    /* ! LISTE DES COURS */
#plateforme_liste{
    position: relative;
    left: 10%;
    width: 80%;
    height: 40vh;
    background-color: #9381FF;
    margin-top: 10%;
    margin-bottom: 10%;
}

.list_item{
    border: 1px solid #000;
    justify-items: center;
    /* align-items: center; */
}

h2{
    position: relative;
    left: 15%;
    font-family: Spectral;
    color: red;
    font-size: 1.0rem;
    width: 100%;
}

#Administratif
{
    margin-top: 15%;
}

#plateforme_pdf{
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    background-color: #F5CB5C;
    width: 100%;
    justify-content: space-evenly;

    p{
        font-family: Spectral;
        font-size: 1rem;
    }

#import{
    margin-left: 40px;
}

#export{
    margin-left: 45px;
}

}

#gif-flèche{
    position:fixed;
    width: 54px;
    height: 54px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;  
}

/* ! Footer */

    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}

    .liens_footer{
        width: 50%;
        font-family: Play;
}

    footer{
        position: sticky;
        font-size: 12px;
        background-color:#36C8F6;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;
    }
    
    #mail, #tel{
            margin-right: 4%;
            text-decoration: underline;
            font-size: 0.8rem;
        }

.face-to-face{
    display: flex;
    flex-direction: row;
}


    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        color: black;

        #email{
            border-radius: 0%;
        }

        img{
            width: 25px;
            height: 25px;
        }
}

}

@media screen and (min-width: 990px) and (max-width: 1990px) {
/*     
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
} */


header{
    display: flex;
    flex-direction: row;
    background-color: #36C8F6;
    width: 100%;
    height: 9vh;
    padding: 5px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: relative;
    }
} 

.burger-container {
    display: none; 
} 


.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 100%;
}

#burger-toggle:checked ~ .nav {
    display:none;
}

.burger-line {
    display: none;
} 


nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav li{
    font-family: Spectral;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 20px;
    padding: 10px;
    list-style-type: none;
}

nav a{
    width: 100%;
    height: 30px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
}

nav a:hover{
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.50, 1, 0.50, 2);
    text-decoration: underline;

}

/* ! MAIN */
/* ! Main */

/* ? UTILISATION D'UN CDN */

#calendar{
    width: 90%;
    height: 80vh;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
}

#addEventBtn{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 2px #000;
    background-color: #36C8F6;
    position: relative;
    left: 5%;
    margin-bottom: 10%;
}


/* Changer la couleur de fond des jours */
.fc-daygrid-day {
    background: #36C8F6;
    color: #000;
}

/* Changer la couleur du header */
.fc-toolbar-title {
    color: #36C8F6;
    font-size: 1.5em;
    font-weight: bold;
}

/* Changer la couleur des événements */
.fc-event {
    color: #fff !important;
    border: none !important;
    border-radius: 8px;
}

/* Changer la couleur du jour actuel */
.fc-day-today {
    background: #fff ;
}

/* Changer la couleur des boutons */
.fc-button {
    background: #36C8F6 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px;
}


/* #button_class{
    display: flex;
    flex-direction: row;
    gap: 60px;
} */

/* #app-calendar{  
    padding-top: 5px;
    border-top: 1px solid rgb(233, 233, 233);
    text-align: center;
    cursor: pointer;

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    grid-template-rows: repeat(5, 1fr);
    background-color: #36C8F6;
    height: 100%;
    width: 100%;
} */


/* .name{
    padding-bottom: 5px;
    margin-bottom: 3%;
    font-weight: bold;
}

.day{
    background: #36C8F6;
    margin: 4px;
    border-radius: 4px;
    padding: 6px 0;
    color: #000000;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekend{
    color : #afddec;
}

.selected{
    background-color: #000000;
    color: white;
}


.button_mini_header{
    border: none;
    width: 40x;
    height: 40px;
    border-radius: 10px;
}

.buttons{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
} */

#chiffres{
    width: 100%;
    height: 45vh;
}

    #plateforme_icons{
        width: 100%;
        height: 4vh;
        padding: 3px;

        img{
            width: 24px;
            height: 24px;
            position: relative;
            float: inline-end;
            margin-right: 15px;
            right: 0;
        }

        .list{
            width: 100%;
            height: 15vh;
        }
    }

    /* ! LISTE DES COURS */
#plateforme_liste{
    position: relative;
    left: 10%;
    width: 80%;
    height: 40vh;
    background-color: #9381FF;
    margin-top: 5%;
    margin-bottom: 10%;
}


#cours-list {
list-style: none;
padding: 0;
max-width: 400px;
margin: 0 auto;
}

#cours-list li {
list-style: none;
display: flex;
align-items: center;
justify-content: center;
padding: 12px;

}

.icon_download {
cursor: pointer;
transition: filter 0.2s;
}

.icon_download:hover {
filter: brightness(0.7);
}


.list_item{
    border: 1px solid #000;
    justify-items: center;
    height: 100px
    /* align-items: center; */
}

h2{
    position: relative;
    left: 25%;
    font-family: Spectral;
    color: red;
    font-size: 2rem;
    width: 100%;
}

#Administratif
{
    margin-top: 15%;
}

#plateforme_pdf{
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    background-color: #F5CB5C;
    width: 100%;
    justify-content: space-evenly;

    p{
        font-family: Spectral;
        font-size: 1rem;
    }

#import{
    margin-left: 40px;
    width: 80px;
}

#export{
    width: 80px;
    margin-left: 45px;
}
}

#gif-flèche{
    position:fixed;
    width: 54px;
    height: 54px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;  
}

/* !FOOTER */


    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}


    .liens_footer{
        width: 50%;
        font-family: Play;
}


    footer{
        position: sticky;
        font-size: 12px;
        background-color:#36C8F6;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;
    }
    
    #mail, #tel{
            margin-right: 4%;
            text-decoration: underline;
            font-size: 0.8rem;
        }

.face-to-face{
    display: flex;
    flex-direction: row;
}


    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        color: black;

        #email{
            border-radius: 0%;
        }

        img{
            width: 25px;
            height: 25px;
        }
}

}