*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    
}


.logo{
    width: 50px;
    height: 50px;
    border-radius: 2px solid yellow;
}


@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}

/* Fonts */

/* ? VERSION MOBILE */


@media screen and (min-width: 350px) and (max-width: 900px){

strong{
    /* color: #F5CB5C; */
    /* color: #2DBBD4; */
    /* color: #2DBBD4; */
    color: #FFFF;
}

h1{
    font-family: Play;
    font-size: 20px;
}

p{
    font-family: Spectral;
    font-size: 11px;
}

    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
}

    .logo_img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
}

    #affiche{
        position: absolute;
        width: 100%;
        height: 25vh;
        z-index: 100;
        border: 2px solid #2DBBD4;
}



 /* ! Attention : Titre de l'input : */

#discover{
    width: 120px;
    height: 22px;
    border-radius: 10px;
    background-color: #F5CB5C;
    font-family: Spectral;
    font-size: 1em;
    font-weight: bold;
    margin-left: 35%;
    margin-top: 10%;
}




    body{
        font-size: 14px;
        display: flex;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas : 
        "header header   "
        "main main  "
        "footer footer ";
}



/* TODO Faire un menu burger, placer le titre au centre */

header{
    display: flex;
    flex-direction: row;
    background-color: #2DBBD4;
    width: 100%;
    padding: 3px;
    grid-area: header;

} 

nav li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    float: inline-start;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
}






/* TODO premier titre */
.titre{
    font-size: 1em;
    color: #2DBBD4;
    margin-left: 2%;
    margin-top: 3%;
}


.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #BAE0E0;
    width: 90%;
    height: 80vh;
    border-radius: 10px;
}


/* TODO second titre : "Bienvenue sur Quanticode"*/

#title{
    position: relative;
    margin-top: 5%;
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.paragraphes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 2%;
    background-color: #9381FF;
    width: 90%;
    height: 25vh;
    border-radius: 10px;
}

#paragraphe1 {
    margin-top: 30%;
}

/* TODO Cartes de présentation rapide */

#section5{
    display: grid;
    /* deux colonnes */
    grid-template-columns:1fr 1fr ;
    /* deux lignes */
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}


#create{
    background-color: #BAE0E0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;

    p{
        font-size: 11px;
    };
}

#seo{
    background-color: #BAE0E0;
    float: right;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    p{
    font-size: 11px;
    };
}

#devops{
    background-color: #BAE0E0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;

    p{
        font-size: 11px;
    };
}

#design{
    background-color: #BAE0E0;
    width: 90%;
    height: 100%;
    display: flex;
    float: right;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
    p{
        font-size: 11px;
    };
}



/*! bouton en savoir + */

.more{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: #2DBBD4;
    justify-content: center;
    font-family: Play;
    box-shadow: 1px 1px 1px #000000;    
}


#section5 h1{
    font-family: Play;
    font-size: 20px;
    margin-top: 15%;
}

#chiffres{
    p{
        margin-bottom: 5%;
    }
}

#chiffre{
    margin-top: 15%;
    margin-bottom: 5%;
}


/* TODO carousel statistiques */

#carousel{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 90%;
    max-width: 100px;

}

.carousel_mobile{
    width: auto;
    height: auto;
    background-color: #BAE0E0;
    border-radius: 10px;
    position: relative;
    margin-right: 3%;
}





/* ! Footer */
/* TODO changer les fonts */

    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}


    .liens_footer{
        width: 50%;
        font-family: Play;
}


    footer{
        /* border: 2px solid plum; */
        position: sticky;
        font-size: 12px;
        background-color:#2DBBD4 ;
        width: 100%;
        height: 15vh;
        top: 100vh;
        grid-area: footer;
    }
    

    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;

    a{
        text-decoration: underline;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        font-family: Play;
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        color: black;
}

}   

/*-------------------------- Colors ------------------*/
/* #2DBBD4 */ /* Blue */
/* #BAE0E0 */ /* LightBlue */
/* #F5CB5C */ /* Yellow */
/* #9381FF */ /* Purple */
