*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ? Background du body */

.white {
    background-color: #fff;
}

.blue {
    background-color: #afddec;
}


/* ? Couleurs */

:root {
    --blue: #36C8F6;
    --yellow: #F5CB5C;
    --lightblue: #afddec;
    --purple: #9381FF;
}


/* ? FONTS  */

@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(./fonts/Spectral/Spectral-Regular.ttf);
}

.logo{
    width: 50px;
    height: 50px;
}

body{
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    background-color: #FFFFFF;
}

/* ! Version desktop */
@media screen and (min-width: 1000px)  {
    
body{
    width: 100%;
    height: 100vh;
}


img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

#profil{
    display: none;
}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    width: 80%;
    height: 9vh;
    padding: 5px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

} 

.burger-container {
    display: none;
} 

.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 100%;
}

#burger-toggle:checked ~ .nav {
    display:block;
}

.burger-line {
    display: flex;
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 2px;
    margin: 4px 0;
} 

.nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav li{
    font-family: Spectral;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 20px;
    padding: 10px;
    list-style-type: none;
}

.nav a{
    width: 100%;
    height: 30px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
}

.nav a:hover{
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.50, 1, 0.50, 2);
    text-decoration: underline;

}




/* ! MAIN */


#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;
    height: 35vh;
    border: 2px solid black;

li {
    list-style: none;
}


#titre{
    font-family: Play;
    font-weight: bold;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3%;
}
    .titre-inner {
        font-size: 2.5rem;
        font-weight: bold;
        color: #000000;
        text-align: center;
    display: inline-block;
}

#affiche{
        position: absolute;
        width: 30%;
        height: 30%; 
        
}

/* ! Bouton discover */
#discover{
        width: 120px;
        height: 52px;
        box-shadow: 2px 2px 2px;
        border-radius: 10px;
        background-color: var(--yellow);
        font-family: Spectral;
        font-size: 1em;
        font-weight: bold;
        margin-left: 47%;
        margin-top: 50%;
        border: none;

    a{
        font-family: Spectral;
        font-size: 22px;
        text-decoration: none;
        padding: 3px;
        width: 20px;
        cursor: pointer;
        color: #000000;
    }
}

}


#gif-flèche{
    position:fixed;
    width: 54px;
    height: 54px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;  
}



.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--lightblue);
    width: 90%;
    height: 80vh;
    border-radius: 10px;
}

.paragraphes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 8%;
    background-color: var(--purple);
    width: 80%;
    height: 25vh;
    border-radius: 10px;
    border: 2px solid black;

    p{
        font-size: 1.2rem;
        font-family: Spectral;
    }

    em{
        color: #FFFFFF;
    }
}

#paragraphe1 {
    margin-top: 10%;
}

/* TODO Cartes de présentation rapide */
/* Section divisée en 4 */

#section5{
    display: grid;
    /* deux colonnes */
    grid-template-columns:1fr 1fr ;
    /* deux lignes */
    grid-template-rows: auto auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 20%;

    li{
        list-style: none;
    }

    a{
        font-family: Spectral;
        font-size: 22px;
        text-decoration: none;
        padding: 3px;
        width: 20px;
        cursor: pointer;
        color: #000000;
    }

    em{
        color: #FFFFFF;
    }

    p{
        margin-top: 8%;
        font-size: 1.2rem;
        font-family: Spectral;
    };
}


#section5 h1{
    font-family: Play;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

#create{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px;
    background-color: var(--yellow);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

#seo{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px;
    background-color: var(--blue);
    float: right;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#devops{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px;
    background-color: var(--lightblue);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

#design{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px;
    background-color: var(--purple);
    width: 90%;
    height: 100%;
    display: flex;
    float: right;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}



/*! bouton en savoir + */

.more{
    padding: 3%;
}

.more:active{
    color: #000000;
}



.more{
    margin-top: 5%;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--blue);
    justify-content: center;
    font-family: Play;
    font-size: 1rem;
    box-shadow: 1px 1px 1px #000000;    
}

/* ! Cercle */

#IntroductionFormation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 35%;
    background-color: var(--lightblue);
    width: 540px;
    height: 540px;
    border-radius: 50%;

h1{
    font-family: Play;
    position: relative;
    margin-bottom: 5%;
}


p{
    margin-top: 5%;
    font-size: 1.2rem;
    font-family: Spectral;
}

li{
    list-style: none;
    margin-top: 8%;
}

a{
    text-decoration: none;
    font-family: Play;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-left: 20%;
    margin-top: 20%;
    width: 300px;
    height: 42px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: var(--yellow);
}

#discoverFormation{
    padding: 3%;
}

#discoverFormation:active{
    color: #000000;
}

.formation{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}
}


/*! Nos chiffres clés */

#section6 {
    margin-top: 15%;
    margin-bottom: 20%;
    background-color: #000000;
}

#chiffres{

    p{
        color: #FFFFFF;
        font-size: 1.2rem;
        font-family: Spectral;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

#chiffre{
    font-family: Play;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 3%;
    position: relative;
    margin-left: 5%;
}


/*! Carousel statistiques */


.carousel-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


#carousel{
    position: relative;
    width: 90%;
    margin: 40px auto 0 auto;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-self: center;   
    align-items: center;
    
    p{
        width: 80%;
        font-family: Spectral;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.carousel_mobile{
    min-width: 100%;
    box-sizing: border-box;
    padding: 40px 10px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.slider-container{
    display: flex;
    width: 100%;
    max-width: 100%;
    transition: transform 0.5s;
    align-items: center; 
}


    .prev, .next {
        width: 20px;
        cursor: pointer;
        position: absolute;
        top: 40%;
        padding: 8px;
        color: #000000;
        font-weight: bold;
        transition: 0.2s ease-in-out;
        transform: translateY(-50%);
        opacity: 0.8;
        z-index: 1;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

} 
.prev {
    
    left: 5px;
} 

.next {
    right: 5px; 
} 

.dots{  
    margin-top: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.dot { 
    display: flex;
    margin-right: 5%;
    border:1px solid #000000;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: var(--yellow);
    border-radius: 50%;
    
} 

/* Changement de couleur lorsque l'on appuie sur les span ainsi que lorsque l'on passe au dessus (hover) */
.dot.active, .dot:hover {
    background-color: #000000;
}

/* ! AVIS */

#section7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: var(--lightblue);
    width: 100%;

h2{
    font-family: Play;
    font-size: 1.5em;
    margin-bottom: 5%; 
}

h3{
    font-family: Play;
    font-size: 1.2em;
    margin-bottom: 5%;
    color: #000000;
}

.avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.avis_item{
    width: 70%;
    height: 100%;
    background-color: var(--purple);
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family: Spectral;
    font-size: 1.2em;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #FFFFFF;
}

#title-témoigner{
    color: #000000;
}

}

/* ! Footer */

    #mirror{
        display: flex;
        flex-direction: row;
        position: relative;
        left: -1%;
}


    .liens_footer{
        margin-left: 2%;
        width: 100%;
        height: 10vh;
        font-family: Play;
        font-size: 1rem;
}


    footer{
        position: sticky;
        font-size: 1rem;
        background-color:var(--blue) ;
        width: 100%;
        height: 12vh;
        top: 100vh;
        grid-area: footer;

        img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 1%;
        }
    }
    
.face-to-face{
    display: flex;
    flex-direction: row;
}


    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{

        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2px;

    a{
        text-decoration: none;
        color: black;
        width: 100%;
    }
}

    .copyright{
        font-family: Play;
        font-size: 1rem;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        color: black;

        #mail, #tel{
            text-decoration: underline;
        }

        #tel{
            width: 115px;
        }
        #email{
            border-radius: 0%;
            margin-right: 3%;
        }
    }
}
/* ! Fin Version Desktop */


/* ! VERSION MOBILE */


@media screen and (min-width: 350px) and (max-width: 999px){

em{
    color: #FFFF;
    font-size: 11.5px;
}



#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;
    height: 35vh;

li {
    list-style: none;
}

#titre{
    font-family: Play;
    font-weight: bold;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3%;
}
    .titre-inner {
        font-size: 2.5rem;
        font-weight: bold;
        color: #000000;
        text-align: center;
    display: inline-block;
}

#affiche{
        position: absolute;
        width: 30%;
        height: 30%; 
        
}

#discover{
        width: 120px;
        height: 32px;
        box-shadow: 2px 2px 2px;
        border-radius: 10px;
        background-color: var(--yellow);
        font-family: Spectral;
        font-size: 1em;
        font-weight: bold;
        margin-left: 34%;
        margin-top: 60%;
        border: none;

    li{
        list-style: none;
    }

    a{
        font-family: Spectral;
        font-size: 1rem ;
        text-decoration: none;
        padding: 3px;
        width: 20px;
        cursor: pointer;
        color: #000000;
    }
}

}


h1{
    font-family: Play;
    font-size: 1.8rem;
    margin-top: 5%;
}

p{
    font-family: Spectral;
    font-size: 11px;
}

.logo_img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
}

    body{
        width: 100%;
        height: 100vh;
        font-size: 1rem;
}


.img-home{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}


/* TODO Faire un menu burger à droite, placer le titre au centre */

/* ! Header */


header{
    display: flex;
    flex-direction: row;
    background-color: #36C8F6;;
    width: 100%;
    padding: 3px;
    grid-area: header;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);


    img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
} 

.burger-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    width: 30px;
    margin-left: 70%;
    margin-top: 3%;
    z-index: 1;
}

.nav {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    width: 100%;
    background-color: #36C8F6;
    z-index: 4;
}

#burger-toggle:checked ~ .nav {
    display: block;
}

.burger-line {
    display: flex;
    width: 30px;
    height: 4px;
    background-color: #000000; 
    border-radius: 2px;
}


.nav ul{
    width: 30px;
    display: flex;
    flex-direction: column;
}

.nav li{
    position: relative;
    display: flex;
    padding: 5px;
    flex-direction: column;
    list-style-type: none;
}

.nav a{
    position: relative;
    right: 0;
    text-decoration: none;
    color: black;
    font-size: large;
    display: inline-block;
    
}

.nav a:active{
    background-color: #36C8F6;
    color: #fff;
}

/* ! MAIN */

#section3{
    margin-top:10% ;
    margin-bottom: 40%;

    em{
        color: #fff;
    }

    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
}
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #afddec;
    width: 90%;
    height: 80vh;
    border-radius: 10px;
}


/* TODO second titre : "Bienvenue sur Quanticode"*/

#title{
    font-family: Play;
    font-weight: bold;
    position: relative;
    margin-top: 5%;
    margin-left: -5%;
    margin-right: 0;
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.paragraphes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 2%;
    background-color: #9381FF;
    width: 90%;
    height: 25vh;
    border-radius: 10px;
    border: 2px solid black;
}

#paragraphe1 {
    margin-top: 30%;
}

/* TODO Cartes de présentation rapide */

#section5{
    display: grid;
    /* deux colonnes */
    grid-template-columns:1fr 1fr ;
    /* deux lignes */
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;

    li{
        list-style: none;
        
    }

    em{
        color: #FFFFFF;
    }

    a{
        font-family: Spectral;
        font-size: 1rem;
        text-decoration: none;
        padding: 2px;
        width: 20px;
        cursor: pointer;
        color: #000000;
    }
}

#create{
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px;
    background-color: #F5CB5C;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;

    p{
        font-size: 11px;
    };
}

#seo{
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px;
    background-color: #36C8F6;
    float: right;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    p{
    font-size: 11px;
    };
}

#devops{
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px;
    background-color: #afddec;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;

    p{
        font-size: 11px;
    };
}

#design{
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px;
    background-color: #9381FF;
    width: 90%;
    height: 100%;
    display: flex;
    float: right;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
    p{
        font-size: 11px;
    };
}



/*! bouton en savoir + */

.more{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #36C8F6;
    justify-content: center;
    font-family: Play;
    box-shadow: 1px 1px 1px #000000;    
}


#section5 h1{
    font-family: Play;
    font-size: 20px;
    margin-top: 15%;
    margin-bottom: 10%;
}

#section6 {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #000000;
}

#chiffres{
    p{
        color: #FFFFFF;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

#chiffre{
    color: #FFFFFF;
    margin-top: 15%;
    margin-bottom: 5%;
    position: relative;
    margin-left: 5%;
}


#Nos-formations
{
    margin-left: 20%;
    margin-bottom: 10%;
}


#IntroductionFormation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 35%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #afddec;
    width: 340px;
    height: 340px;
    border-radius: 50%;

p{
    margin-top: 5%;
}

li{
    list-style: none;
    margin-top: 5%;
}
a{
    text-decoration: none;
    font-family: Play;
    font-size: 1rem;
    color: #FFFFFF;
    margin-left: 15%;
    margin-top: 10%;;
    width: 190px;
    height: 22px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #F5CB5C;
}


.formation{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;

}
}
/* ! Carousel statistiques */


.carousel-container{
    width: 100%;
    position: relative;
    left: -2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


#carousel{
    position: relative;
    width: 90%;
    margin: 40px auto 0 auto;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-self: center;   
    align-items: center;
    
    p{
        width: 70%;
        font-family: Spectral;
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.carousel_mobile{
    min-width: 100%;
    box-sizing: border-box;
    padding: 40px 10px;
    background-color: #F5CB5C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.slider-container{
    display: flex;
    width: 100%;
    max-width: 100%;
    transition: transform 0.5s;
    align-items: center; 
}


    .prev, .next {
        width: 20px;
        cursor: pointer;
        position: absolute;
        top: 40%;
        padding: 8px;
        color: #000000;
        font-weight: bold;
        transition: 0.2s ease-in-out;
        transform: translateY(-50%);
        opacity: 0.8;
        z-index: 1;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

} 
.prev {
    
    left: 5px;
} 

.next {
    right: 5px; 
} 

.dots{  
    margin-top: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.dot { 
    display: flex;
    margin-right: 5%;
    border:1px solid #000000;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: #F5CB5C;
    border-radius: 50%;
    
} 

/* Changement de couleur lorsque l'on appuie sur les span ainsi que lorsque l'on passe au dessus (hover) */
.dot.active, .dot:hover {
    background-color: #000000;
}

/* ! AVIS */

#section7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #afddec;
    width: 100%;

h2{
    font-family: Spectral;
    font-size: 1.5em;
    margin-bottom: 5%;
    
}

h3{
    font-family: Play;
    font-size: 1.2em;
    margin-bottom: 3%;
    color: #FFFFFF;
}

.avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    margin-top: 5%;
}

.avis_item{
    background-color: #9381FF;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family: Spectral;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #FFFFFF;
}

}

#gif-flèche{
    position:fixed;
    width: 54px;
    height: 54px;
    bottom: 20px;
    border-radius: 10px;
    right: 20px;
    z-index: 1000;
}
/* ! Footer */

    #mirror{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
}


    .liens_footer{
        width: 40%;
        font-family: Play;
        font-size: 0.8rem;
}


    footer{
        position: sticky;
        font-size: 12px;
        background-color:#36C8F6;
        width: 100%;
        height: 13vh;
        top: 100vh;
        grid-area: footer;
    }
    
    #mail, #tel{
            margin-right: 4%;
            text-decoration: underline;
            font-size: 0.8rem;
        }

.face-to-face{
    display: flex;
    flex-direction: row;
}


    footer ul {
        float: left;
        justify-content: right;
        align-items:left ; 
        height: 20px;
}

    footer ul li{
        display: flex;
        float: left;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 2px;

    a{
        text-decoration:none;
        color: black;
        font-size: 1em;
        width: 100%;
    }
}

    .copyright{
        width: 50%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 20%;
        color: black;

        #email{
            border-radius: 0%;
            margin-right: 3%;
        }

        img{
            width: 25px;
            height: 25px;
        }
}
}





